@import '../variables';
@import '../mixins';

.date-picker-cuie {
  @include block-border-box;
  position: relative;
  min-width: 320px;

  .inputs {
    @include input-fields;

    .input-txt {
      @include input-text;
      width: 70%;
    }

    .input-btn {
      @include input-btn;
      cursor: pointer;
      width: 30%;

      &::after {
        display: inline-block;
        content: '\01F4C5';
      }
    }
  }

  .date-picker {
    border: $cui-border-color solid 1px;
    border-radius: $cui-border-radius;
    position: absolute;
    width: 100%;
    background-color: white;
    display: none;
    z-index: 12;

    .month-selection {
      @include clear-both-overflow-hidden;
      height: 2em;
      border-bottom: $cui-border-color solid 1px;
    }

    .next-btn {
      @include block-border-box;
      cursor: pointer;
      outline: 0;
      float: right;
      height: 100%;
      background-color: $cui-element-btn-color;
      width: 10%;

      &::after {
        display: inline-block;
        content: '\025BA';
      }
    }

    .prev-btn {
      @include block-border-box;
      cursor: pointer;
      outline: 0;
      float: left;
      height: 100%;
      width: 10%;
      background-color: $cui-element-btn-color;

      &::after {
        display: inline-block;
        content: '\025C4';
      }
    }

    .month-display {
      @include block-border-box;
      float: left;
      height: 100%;
      width: 80%;
      font-size: 1em;
      padding: .3em;
      text-align: center;
    }

    .days-table {
      margin: 0 auto .25em;
      text-align: center;

      .cell-header {
        padding: .1em;
        border: 3px transparent solid;
        background-color: $cui-element-title;
        font-weight: bold;
      }

      .cell-day {
        cursor: pointer;
        border-top: 3px transparent solid;
        border-bottom: 3px transparent solid;
        padding: .1em;

        &.today-date {
          border-top: 3px green solid;
        }

        &.current-date {
          border-bottom: 3px solid red;
        }

      }
    }
  }
}

//.input-date-picker {
//  position: relative;
//}
//

//
//.input-txt {
//  padding: 0.3em;
//  outline: 0;
//  display: block;
//  width: 70%;
//  margin: 0;
//  height: 100%;
//  border: none;
//  float: left;
//  border: none;
//
//}
//
//.input-btn {
//  position: relative;
//  text-align: center;
//  padding: 0.3em;
//  float: right;
//  display: block;
//  width: 29%;
//  margin: 0;
//  height: 100%;
//  outline: 0;
//}
//
//.list-elements {
//  display: none;
//  width: 100%;
//  position: absolute;
//  z-index: 11;
//  top: 100%;
//  left: 0;
//  background-color: honeydew;
//  list-style-type: none;
//  border: 1px solid black;
//  border-radius: 5px;
//  padding: 0;
//  margin: 0;
//  overflow: auto;
//  height: 210px;
//}
//
//.li-elem {
//  padding: .7em 0.4em;
//  cursor: pointer;
//}
//
//.li-elem:hover {
//  background-color: wheat;
//}
//
//thead td {
//  font-weight: bold;
//}
//
//.date-picker {
//  position: absolute;
//  background-color: white;
//  width: 100%;
//  display: none;
//  z-index: 10;
//  top: 100%;
//  left: 0;
//}
//
//table.date-display {
//  width: 100%;
//  background-color: #d4eedb;
//}
//
//td {
//  text-align: center;
//  padding: 2px;
//  cursor: pointer;
//  user-select: none;
//}
//
//td:hover {
//  background: #dddddd;
//  font-weight: bold;
//}
//
//td.current-day {
//  background-color: #888888;
//}
//
//td.disabled {
//  pointer-events: none;
//}
//
//.left-btn {
//  float: left;
//  width: 15%;
//  height: 100%;
//
//}
//
//.selected-day {
//  border: 2px solid black;
//}
//
//.input-dropdown {
//  width: 100%;
//  box-sizing: border-box;
//  position: relative;
//  padding: 0;
//  margin: 0;
//}
//
//.right-btn {
//  float: right;
//  width: 15%;
//  height: 100%;
//}
//
//.month-display {
//  width: 70%;
//  text-align: center;
//  display: block;
//  margin: 0;
//  padding: 0.3em;
//  float: left;
//}
//
//.test-obj {
//  width: 400px;
//  height: 400px;
//  overflow-y: scroll;
//}
