@import '../variables';
@import '../mixins';

.list-with-checkboxes-cuie {
  @include block-border-box;
  position: relative;
  min-width: 320px;

  .list-elements {
    //display: none;
    width: 100%;
    position: absolute;
    z-index: 11;
    top: 100%;
    left: 0;
    background-color: white;
    list-style-type: none;
    color: $cui-unselected-text-color;
    border: 1px solid $cui-border-color;
    border-radius: $cui-border-radius;
    padding: 0;
    margin: 0;
    overflow: auto;
    height: 210px;

    .element {
      padding: 0 .2em 0 .5em;
    }

    .check-box {

      &::before {
        content: '\02610';
      }

      &.checked {
        &::before {
          content: '\02611';
        }
      }
    }

    .li-elem {
      padding: .7em .4em;
      font-size: 1em;
      cursor: pointer;

      &:hover {
        background-color: $cui-element-hover;
        color: $cui-text-color;
      }
    }
  }
}
